/settings.php
/css/bootstrap.min.css
/fonts/glyphicons-halflings-regular.woff2
/js/bootstrap.min.js
/js/jquery.min.js
/css/jquery-mobile.min.css
/css/jquery-ui.min.css
/js/jquery-mobile.min.js
/js/jquery-mobile.min.map
/js/jquery-ui.min.js
/css/images/
/js/jquery.plugin.min.js
/js/jquery.timeentry.min.js
/css/jquery.timeentry.css
