/settings.php
/css/bootstrap.min.css
/css/jquery.timeentry.css
/css/jquery-mobile.min.css
/css/jquery-ui.min.css
/css/images
/fonts/glyphicons-halflings-regular.woff2
/js/bootstrap.min.js
/js/jquery.min.js
/js/jquery.plugin.min.js
/js/jquery-mobile.min.js
/js/jquery-mobile.min.map
/js/jquery-ui.min.js
/js/jquery.timeentry.min.js
/swiftmailer/CHANGES
/swiftmailer/LICENSE
/swiftmailer/README
/swiftmailer/VERSION
*.zip
